<!-- Loader -->
<div id="load-page" #loadPage class="fh5co-loader"></div>

<div class="fh5co-page">
  <div id="fh5co-container">
    <div id="fh5co-home" class="js-fullheight-home" data-section="home" style="background-image: url(../assets/images/hero_bg.jpg);" data-stellar-background-ratio="1">
      <div class="container">
        <div class="col-md-6">
          <div class="js-fullheight-home fh5co-copy">
            <div class="js-fullheight-home fh5co-copy-inner">
              <h1 style="text-shadow: 2px 2px 10px #4a4a4a">Rahul Chakravarthy</h1>
              <h2>Android | Front End | Back End</h2>
            </div>
            <div class="col-md-12">
              <img class="circle-base col-lg-offset-10 profile-style" src="../assets/images/nice_photo.jpg" alt="Avatar"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- This is the sticky nav bar-->
    <div ngui-sticky style="z-index: 10; outline: 1px solid #dad4d4;">
      <div class="js-sticky">
        <div class="fh5co-main-nav">
          <div class="container">
            <div class="fh5co-menu-1">
              <a style="color: #828282" scrollTo href="#fh5co-About-Me" data-nav-section="About Me">Home</a>
              <a style="color: #828282" scrollTo href="#fh5co-Internships" data-nav-section="Internships">Internships</a>
              <a style="color: #828282" scrollTo href="#fh5co-Projects" data-nav-section="Projects">Projects</a>
              <a style="color: #828282" scrollTo href="#fh5co-Hobbies" data-nav-section="Hobbies">Hobbies</a>
              <a style="color: #828282" scrollTo href="#fh5co-Contact" data-nav-section="Contact">Get In Touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="fh5co-About-Me" data-section="About Me">
      <div class="fh5co-2col">
        <div class="fh5co-2col-inner left">
          <div class="fh5co-tabs-container">
            <ul data-tabs class="fh5co-tabs fh5co-one">
              <li class="active"><a data-tab="marketing">Personal</a></li>
            </ul>
            <div id="personalTab" class="fh5co-tab-content active" data-tab-content="marketing">
              <h2>Welcome to my blog!</h2>
              <p>I am a 3rd year Computer Engineering student at the University of Waterloo with a passion for Web and Mobile Application development.<br/><br/> I have over a year's worth of professional software development experience and I am always looking for exciting internships to further my skills and hone my abilities.
                <br/><br/>Here are a few links to my portfolio and bios:</p>
              <ul>
                <li><a href="https://github.com/RahulChakravarthy" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/rahul-chakravarthy-423361126/" target="_blank">LinkedIn</a></li>
                <li><a href="https://devpost.com/RahulChakravarthy?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" target="_blank">Devpost</a></li>
              </ul>
              <br/>
              <p>Please contact me if you know of any opportunities that I might be a fit for.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-Internships" data-section="Internships">
      <div class="fh5co-video"><a href="https://drive.google.com/file/d/1Q3OBgCXQsarhwEBE3RGhRA54YvgQO5yY/view?usp=sharing" class="popup-vimeo" target="_blank"><div style="display: table-cell; vertical-align: middle">Resume</div></a></div>
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
          <h2>Internships</h2>
          <p>I have accumulated a wide variety of technical skills through the many internships I have undertaken in the past</p>
        </div>
        <div class="col-md-4">
          <div class="service">
            <h4><i>Carrot Inc.</i></h4>
            <h4>Mobile Software Engineering Intern, Android</h4>
            <h3>Redwood City, California</h3>
            <h5>September 2018 - December 2018</h5>
            <ul>
              <li style="text-align: left;">Architected the view components for a quit date popup and orientation widget on the home screen</li>
              <li style="text-align: left;">Built the onboarding MVVM architecture allowing thousands of users to pair with their Bluetooth sensors</li>
              <li style="text-align: left;">Migrated the sensor application to a library format to be injected as a gradle dependency in the main platform</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <h4><i>Spotit Inc.</i></h4>
            <h4>Android and Backend Software Developer</h4>
            <h3>Ottawa, Ontario</h3>
            <h5>February 2018 - August of 2018</h5>
            <ul>
              <li style="text-align: left;">Built a prototype payment processing Android App for a startup company using Retrofit2 HTTP client for REST API calls, Stripe API for payment processing and Google’s Fused Location API for location pinging</li>
              <li style="text-align: left;">Constructed a location dispatcher and location service module (NodeJS + MongoDB) to be used as a medium for all user data CRUD operations</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <h4><i>Martello Technologies Inc.</i></h4>
            <h4>Full Stack Software Application Developer</h4>
            <h3>Ottawa, Ontario</h3>
            <h5>January 2018 - April 2018</h5>
            <ul>
              <li style="text-align: left;">Architected the data access object layer for a new Mitel feed to support the onboarding of hundreds of customers to the company’s platform</li>
              <li style="text-align: left;">Designed a data analytics rollback tool to cross compare the accuracy of Mitel’s monthly licensing feeds containing over 300 000 rows of data</li>
              <li style="text-align: left;">Composed an S3FileFetch cron job which imported customer inventory files from Amazon’s S3Filestore every 30 seconds and effectively saved the company hours of manual work</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <h4><i>Public Knowledge Project</i></h4>
            <h4>Systems Developer</h4>
            <h3>Vancouver, British Columbia</h3>
            <h5>May 2017 - August 2017</h5>
            <ul>
              <li style="text-align: left;">Performed feature enhancements and bug fixes on company software platforms in a LAMP (Linux, Apache, MySQL, PHP) environment</li>
              <li style="text-align: left;">Designed a search engine accessible via REST API to improve internal searching and archiving of over 10 000 stored records</li>
              <li style="text-align: left;">Created a client requested BePress import plugin to parse journal XML metadata and store it in company servers</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <h4><i>Gharana Arts Inc.</i></h4>
            <h4>Media Designer</h4>
            <h3>Ottawa, Ontario</h3>
            <h5>May 2016 - August 2016</h5>
            <ul>
              <li style="text-align: left;">Designed graphics on Photoshop and managed WordPress hosted website throughout summer concerts, viewable at <a href="http://gharana.ca/">gharana.ca</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <h4><i>Canadian Science and Technology Museum</i></h4>
            <h4>Museum Volunteer</h4>
            <h3>Ottawa, Ontario</h3>
            <h5>September 2013 - June 2015</h5>
            <ul>
              <li style="text-align: left;">Organized activites for young children during important events</li>
              <li style="text-align: left;">Facilitated communication between supervisors and children in both English and French</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-Projects" data-section="Projects">
      <a href="https://tablafullstack.herokuapp.com/" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_3.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Paint it! Sound Classification</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li style="text-align: left;">Built the Tensorflow urban sound classification model to classify sounds produced by a popular south asian percussion instrument</li>
                <li style="text-align: left;">Model is trained via accessing stored raw labeled sound data from an Amazon S3 bucket</li>
                <li style="text-align: left;">Utilized Tensorflow Serving to expose a rest API between model and server application</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://tablafullstack.herokuapp.com/" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_2.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Paint it! Web Application</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li style="text-align: left;">Built the full stack MEAN application of Paint it! to interact with the urban sound classification neural network</li>
                <li style="text-align: left;">The application supports sound recording and uploading to Amazon S3 buckets via Socket.io communication</li>
                <li style="text-align: left;">Utilized sockets to architect the classification interface between the tensorflow model and the client side application</li>
                <li style="text-align: left;">Classified sounds get transformed into visual drawings via D3.js and displayed to the screen</li>
            </ul></h3>
          </div>
        </div>
      </a>
      <a href="https://tablafullstack.herokuapp.com/" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_1.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Paint it! Android Application</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li style="text-align: left;">Built the Android client application for Paint it! in an MVVM architecture</li>
                <li style="text-align: left;">Utilized Amazon Cognito for user identification along with Android components to allow for easily scalable and decoupled code</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.enghack2018" class="fh5co-item image-popup" target="_blank" style="background-image: url(../assets/images/img_4.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Plates</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li style="text-align: left;">Built and deployed to the play store, a food location and cataloging app which can effectively aid users in deciding on places to eat and cataloging previously visited restaurants</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://github.com/RahulChakravarthy/ClassLink" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_4.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">ClassLink</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li style="text-align: left;">Created a class base user question and answer platform to increase student involvement and interaction with the professor while maintaining client anonymity</li>
                <li style="text-align: left;">Utilized Google’s Firebase Database servers to host platform data and facilitate user authentication</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://github.com/RahulChakravarthy/CaptchaCracker" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_1.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Captcha Cracker</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li style="text-align: left;">Built a captcha parsing program that detects alpha numeric text in images and outputs the entire string</li>
                <li style="text-align: left;">Used python image library to convert the image into RGB codes and pattern analysis to identify all the characters</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://github.com/RahulChakravarthy/2048" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_2.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Hand Gesture 2048</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li style="text-align: left;">Created an app on Android Studio based on the famous application 2048</li>
                <li style="text-align: left;">Application functions on hand gestures taking in input using phone’s accelerometer</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://github.com/RahulChakravarthy/RuneScape-Bot" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_3.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Runescape Bot</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li style="text-align: left;">Designed a bot for the famous MMORPG RuneScape using PowerBot API</li>
                <li style="text-align: left;">When activated, bot searches and cuts down available trees to farm experience, levels, and lumber</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
    </div>

    <div id="fh5co-Hobbies" data-section="Hobbies">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
          <h2>Hobbies and Extracurriculars</h2>
          <p>When I'm not studying, at work, or doing side projects, I enjoy a wide variety of hobbies that I try to do to keep myself as well rounded as possible</p>
        </div>
        <div class="col-md-4">
          <div class="person">
            <h3>Waterloo Jazz Band</h3>
            <p>I played lead Trumpet in the Waterloo Engineering Jazz Band called 'With Respect to Time' for the first 2 years of my university career</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="person">
            <h3>Video Games Enthusiast</h3>
            <p>Playing video games is a way for me to relax. The games I play include:</p>
            <ul>
              <li>CS:GO</li>
              <li>Overwatch</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="person">
            <h3>Working Out</h3>
            <p>Since most of my day consists of sitting down in front of a computer, I stay healthy by going to the gym as often as I can</p>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-Contact" data-section="Contact">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
          <h2>Get In Touch</h2>
          <p>If you need to get in touch with me, please refer to the links I have included in my resume. Preferably you can send me an email at r7chakra@edu.uwaterloo.ca and I'll try to get back to you as soon as I can.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="scroll-to-top" #scrollToTop scrollTo scrollableElementSelector="#fh5co-container" scrollYTarget="0" class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="../assets/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../assets/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../assets/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="../assets/js/jquery.stellar.min.js"></script>
<!-- Magnific Popup -->
<script src="../assets/js/jquery.magnific-popup.min.js"></script>
<script src="../assets/js/magnific-popup-options.js"></script>
<!-- Main JS -->
<script src="../assets/js/main.js"></script>


