<!-- Loader -->
<div id="load-page" #loadPage class="fh5co-loader"></div>

<div class="fh5co-page">
  <div id="fh5co-container">
    <div id="fh5co-home" class="js-fullheight-home" data-section="home" style="background-image: url(../assets/images/hero_bg.jpg);" data-stellar-background-ratio="1">
      <div class="container">
        <div class="col-md-6">
          <div class="js-fullheight-home fh5co-copy">
            <div class="js-fullheight-home fh5co-copy-inner">
              <h1 style="text-shadow: 2px 2px 10px #4a4a4a">Rahul Chakravarthy</h1>
              <h2>Android | Front End | Back End | Embedded Systems</h2>
            </div>
            <div class="col-md-12">
              <img class="circle-base col-lg-offset-10 profile-style" src="../assets/images/nice_photo.jpg" alt="Avatar"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- This is the sticky nav bar-->
    <div ngui-sticky style="z-index: 10; outline: 1px solid #dad4d4;">
      <div class="js-sticky">
        <div class="fh5co-main-nav">
          <div class="container">
            <div class="fh5co-menu-1">
              <a style="color: #828282" scrollTo href="#fh5co-About-Me" data-nav-section="About Me">Home</a>
              <a style="color: #828282" scrollTo href="#fh5co-Internships" data-nav-section="Internships">Internships</a>
              <a style="color: #828282" scrollTo href="#fh5co-Projects" data-nav-section="Projects">Projects</a>
              <a style="color: #828282" scrollTo href="#fh5co-Hobbies" data-nav-section="Hobbies">Hobbies</a>
              <a style="color: #828282" scrollTo href="#fh5co-Contact" data-nav-section="Contact">Get In Touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="fh5co-About-Me" data-section="About Me">
      <div class="fh5co-2col">

        <div class="fh5co-2col-inner left">

          <div class="fh5co-tabs-container">
            <ul class="fh5co-tabs fh5co-three">
              <li class="active"><a href="#" data-tab="marketing">Personal</a></li>
              <li><a href="#" data-tab="analysis">Education</a></li>
              <li><a href="#" data-tab="strategy">Awards</a></li>
            </ul>
            <div class="fh5co-tab-content active" data-tab-content="marketing">
              <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptate laborum sapiente officiis molestiaea.</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aliquid aperiam eveniet officia molestiae temporibus beatae dolores dignissimos aspernatur eius doloremque ad, eaque pariatur, repellendus illum, nostrum velit necessitatibus molestias.</p>
              <ul>
                <li><a href="https://github.com/RahulChakravarthy" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/rahul-chakravarthy-423361126/" target="_blank">LinkedIn</a></li>
                <li><a href="https://devpost.com/RahulChakravarthy?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" target="_blank">Devpost</a></li>
              </ul>
            </div>

            <div class="fh5co-tab-content" data-tab-content="analysis">
              <h2>Quam quasi illum expedita dicta nemo fugit reprehenderit similique! Corporis praesentium magnam sequi.</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla explicabo, molestiae eaque fugiat dolores est esse, doloremque placeat assumenda corrupti officia dolorum. Sunt saepe ut, explicabo consectetur, nostrum illo est.</p>
            </div>

            <div class="fh5co-tab-content" data-tab-content="strategy">
              <h2>Magnam iste obcaecati illo laboriosam amet. Dignissimos sed quis voluptatum corporis adipisci amet.</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore illum expedita placeat debitis, dignissimos obcaecati et modi. Possimus id dicta consequuntur veritatis, reiciendis at expedita voluptate sint distinctio eligendi!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-Internships" data-section="Internships">
      <div class="fh5co-video"><a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"></a></div>
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
          <h2>Internships</h2>
          <p>I have accumulated a wide variety of technical skills through the many internships I have undertaken in the past</p>
        </div>
        <div class="col-md-4">
          <div class="service">
            <div class="icon"><i class="icon-present"></i></div>
            <h4>Mobile Software Engineering Intern, Android</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nam itaque ipsam iste provident quo ipsam iste provident.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <div class="icon"><i class="icon-present"></i></div>
            <h4>Android and Backend Software Developer</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nam itaque ipsam iste provident quo ipsam iste provident.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <div class="icon"><i class="icon-present"></i></div>
            <h4>Fullstack Software Application Developer</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nam itaque ipsam iste provident quo ipsam iste provident.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <div class="icon"><i class="icon-eye"></i></div>
            <h4>Systems Developer</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nam itaque ipsam iste provident quo ipsam iste provident.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <div class="icon"><i class="icon-paper-plane"></i></div>
            <h4>Media Designer</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nam itaque ipsam iste provident quo ipsam iste provident.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <div class="icon"><i class="icon-pencil"></i></div>
            <h4>Canadian Science and Technology Museum Volunteer</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nam itaque ipsam iste provident quo ipsam iste provident.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-Projects" data-section="Projects">
      <a href="https://tablafullstack.herokuapp.com/" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_3.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Paint it! Sound Classification</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li>Built the Tensorflow urban sound classification model to classify sounds produced by a popular south asian percussion instrument</li>
                <li>Model is trained via accessing stored raw labeled sound data from an Amazon S3 bucket</li>
                <li>Utilized Tensorflow Serving to expose a rest API between model and server application</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://tablafullstack.herokuapp.com/" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_2.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Paint it! Web Application</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li>Built the full stack MEAN application of Paint it! to interact with the urban sound classification neural network</li>
                <li>The application supports sound recording and uploading to Amazon S3 buckets via Socket.io communication</li>
                <li>Utilized sockets to architect the classification interface between the tensorflow model and the client side application</li>
                <li>Classified sounds get transformed into visual drawings via D3.js and displayed to the screen</li>
            </ul></h3>
          </div>
        </div>
      </a>
      <a href="https://tablafullstack.herokuapp.com/" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_1.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Paint it! Android Application</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li>Built the Android client application for Paint it! in an MVVM architecture</li>
                <li>Utilized Amazon Cognito for user identification along with Android components to allow for easily scalable and decoupled code</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.enghack2018" class="fh5co-item image-popup" target="_blank" style="background-image: url(../assets/images/img_4.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Plates</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li>Built and deployed to the play store, a food location and cataloging app which can effectively aid users in deciding on places to eat and cataloging previously visited restaurants</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://github.com/RahulChakravarthy/ClassLink" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_4.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">ClassLink</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li>Created a class base user question and answer platform to increase student involvement and interaction with the professor while maintaining client anonymity</li>
                <li>Utilized Google’s Firebase Database servers to host platform data and facilitate user authentication</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://github.com/RahulChakravarthy/CaptchaCracker" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_1.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Captcha Cracker</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li>Built a captcha parsing program that detects alpha numeric text in images and outputs the entire string</li>
                <li>Used python image library to convert the image into RGB codes and pattern analysis to identify all the characters</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://github.com/RahulChakravarthy/2048" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_2.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Hand Gesture 2048</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li>Created an app on Android Studio based on the famous application 2048</li>
                <li>Application functions on hand gestures taking in input using phone’s accelerometer</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
      <a href="https://github.com/RahulChakravarthy/RuneScape-Bot" target="_blank" class="fh5co-item image-popup" style="background-image: url(../assets/images/img_3.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
            <h2 style="visibility: visible; opacity: 1">Runescape Bot</h2>
            <h3 style="visibility: visible; opacity: 1">
              <ul style="line-height: 150%">
                <li>Designed a bot for the famous MMORPG RuneScape using PowerBot API</li>
                <li>When activated, bot searches and cuts down available trees to farm experience, levels, and lumber</li>
              </ul>
            </h3>
          </div>
        </div>
      </a>
    </div>

    <div id="fh5co-Hobbies" data-section="Hobbies">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
          <h2>Hobbies and Extracurriculars</h2>
          <p>When I'm not studying, at work, or doing side projects, I enjoy a wide variety of hobbies that I try to do to keep myself as well rounded as possible</p>
        </div>
        <div class="col-md-4">
          <div class="person">
            <img src="../assets/images/nice_photo.jpg" alt="" class="img-responsive">
            <h3>Waterloo Jazz Band</h3>
            <p>I played lead Trumpet in the Waterloo Engineering Jazz Band called 'With Respect to Time' for the first 2 years of my university career</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="person">
            <img src="../assets/images/nice_photo.jpg" alt="" class="img-responsive">
            <h3>Video Games Enthusiast</h3>
            <p>Playing video games is a way for me to relax. The games I play include:</p>
            <ul>
              <li>CS:GO</li>
              <li>Overwatch</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="person">
            <img src="../assets/images/nice_photo.jpg" alt="" class="img-responsive">
            <h3>Working Out</h3>
            <p>Since most of my day consists of sitting down in front of a computer, I stay healthy by going to the gym as often as I can</p>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-Contact" data-section="Contact">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
          <h2>Get In Touch</h2>
          <p>If you need to get in touch with me, send me a message here and I'll be sure to respond as soon as I can</p>
        </div>
        <form action="http://localhost:3000/send-message" method="post">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input id="inputName" type="text" name="name" class="form-control" placeholder="Your name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input id="inputEmail" type="email" name="email" class="form-control" placeholder="Your email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea  id="inputMessage" name="message" cols="30" rows="7" class="form-control" placeholder="Your message"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="submit" name="submit" value="Send message" class="btn btn-primary btn-outline">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="scroll-to-top" #scrollToTop scrollTo scrollableElementSelector="#fh5co-container" scrollYTarget="0" class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="../assets/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../assets/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../assets/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="../assets/js/jquery.stellar.min.js"></script>
<!-- Magnific Popup -->
<script src="../assets/js/jquery.magnific-popup.min.js"></script>
<script src="../assets/js/magnific-popup-options.js"></script>
<!-- Main JS -->
<script src="../assets/js/main.js"></script>


